.container,
.main,
.sidebar,
.sidebar-menu,
.sidebar-others,
header,
.contents,
.project,
.trending {
    display: grid;
}

.main {
    grid-template-columns: 300px 4fr;
}

.sidebar {
    box-shadow: 15px 0px 15px -15px rgba(0, 0, 0, 0.3);
    background-color: var(--primary);
    grid-row: span 3;
}

.sidebar-title,
.menu-item,
.others-item,
.search,
.user-account,
.main-header,
.action-btns {
    display: flex;
    align-items: center;
}

.sidebar {
    padding: 0 1rem;
    align-content: start;
    color: var(--text-white);
    gap: 50px;
}

.sidebar-title,
.sidebar-menu,
.sidebar-others,
.search,
.user-account,
.main-header,
.action-btns,
.contents {
    padding: 1rem;
}

.sidebar-title p,
.user-name {
    font-size: 28px;
}

.sidebar-title p,
.menu-item p,
.others-item p,
.main-header p {
    font-weight: 700;
}

.menu-item p,
.others-item p,
.head-title {
    font-size: 20px;
}

.sidebar-menu,
.sidebar-others,
.user {
    gap: 12px;
}

header {
    grid-template-columns: 1fr 500px;
}

.search input {
    border: none;
    border-radius: 20px;
    width: 700px;
    height: 35px;
    background-color: var(--background);
}

.user-account p {
    font-size: 18px;
}

.user-account p,
.action-btns,
.head-title,
.item-title {
    font-weight: 600;
}

.search,
.user-account,
.main-header,
.action-btns {
    padding-inline: 4rem;
}

.sidebar-title,
.menu-item,
.others-item,
.user-account,
.main-header,
.trending {
    gap: 1.5rem;
}

.action-btns {
    justify-content: center;
    gap: 30px;
}

.action-btns button {
    border: none;
    border-radius: 20px;
    padding: 0.5rem 0.75rem;
    width: 6rem;
    background-color: var(--primary);
    color: var(--text-white);
}

.contents {
    grid-template-columns: 1fr 400px;
    padding: 0 3rem;
    box-shadow: inset 0px 15px 15px -15px rgba(0, 0, 0, 0.3);
    gap: 0 1rem;
}

.head-title {
    padding: 2rem 0 1rem 0;
}

.projects {
    grid-row: span 2;
}

.project {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.project .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    height: 250px;
    border-left: 12px solid var(--accent);
}

.item-subtitle,
.user-project {
    color: var(--text-subtitle);
}

.item-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: end;
}

.announcement,
.trending {
    padding: 2rem;
}

.announcement {
    gap: 1rem;
}

.project .item,
.announcement,
.trending {
    background-color: white;
    border-radius: 12px;
}

.user {
    display: flex;
}

footer,
.contents {
    background-color: var(--background);
}